<div class="container">
<body>
<div class="container"  style="text-align: center;">
<%= image_tag('shapeimage_2.png') %>
</div>
<BR>
<div class="container_foot" style="text-align: center;"><BR>
<h2>Who do you know where?</h2>
<%= link_to(image_tag("droppedImage.png"), :controller => "auth", :action => "index") %>
</div>

</body>
</div>
