<!DOCTYPE html>
<html lang="en">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">MappedIN</a>
    </div>
  </div>
</div>
    <body>
    <div class="container-fluid">
	<table>
	<% @connections.each do |c| %>
	<%= "<TR>c</TR>" %>
	<% end %>
	</table>
    </div>
    </body>
</html>

