<div class="container">

<%= gmaps(:map_options => 
	 {:type => "TERRAIN", 
          :center_longitude => 180, 
          :zoom => 1, 
          :auto_adjust => true}, 
	  :markers => 
         {:data => @rarr.to_json, 
          :options => 
         {:do_clustering => true, 
	  :randomize => true, 
          :max_random_distance => 1000, 
          :clusterer_maxZoom => 10,}}) 
%>

</div>
