<!DOCTYPE html>
<html lang="en">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">MappedIN</a>
    </div>
  </div>
</div>
</html>

